;; Development configuration for Browser Jack-in
;;
;; This file is read at build time and injected via esbuild --define.
;; Changes here require a rebuild to take effect.

{:dev true
 :depsString "{:deps {io.github.babashka/sci.nrepl {:git/sha \"1042578d5784db07b4d1b6d974f1db7cabf89e3f\"}}}"}
